{% extends 'base.html.twig' %}

{% block title %}Images of {{ post.title }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Images of {{ post.title }}</h1>
        <div class="row">
            {% for image in images %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ asset('uploads/' ~ image.filename) }}" class="card-img-top img-fluid" alt="Image for {{ post.title }}">
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{path('post_show', {'slug':post.slug})}}" class="btn btn-primary mt-4">Back to my post</a>
    </div>
{% endblock %}