{% extends "base.html.twig" %}

{% block title %}New post{% endblock %}

{% form_theme myForm _self %}

{% block body %}
    <div class="container mt-4">
        <h1>New post</h1>

        {{ form_start(myForm) }}
            {{ form_row(myForm.title) }}
            {{ form_row(myForm.description) }}

            <div id="images-wrapper" data-prototype="{{ form_widget(myForm.postImages.vars.prototype)|e('html_attr') }}">
                {% for postImage in myForm.postImages %}
                    <div class="image-form row mb-3">
                        <div class="col">
                            {{ form_widget(postImage) }}
                        </div>
                        <div class="col-auto">
                            <button type="button" class="remove-image btn btn-danger mt-2">X</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-image" class="btn btn-secondary mt-3">Add Image</button>
            {{ form_row(myForm.commentDisabled) }}
            <button type="submit" class="btn btn-primary mt-3">Share</button>
        {{ form_end(myForm) }}
    </div>
{% endblock %}

{% block form_row %}
    <div class="form-group mt-2">
        <div class="row">
            <div class="col-6">
                {{ form_label(form) }}
            </div>
            <div class="col-6">
                {{ form_widget(form) }}
                {{ form_errors(form)}}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let index = {{ myForm.postImages|length }};
            const imagesWrapper = document.getElementById('images-wrapper');
            const prototype = imagesWrapper.dataset.prototype;
            const addImageButton = document.getElementById('add-image');

            const updateAddImageButtonState = () => {
                if (index >= 5) {
                    addImageButton.disabled = true;
                } else {
                    addImageButton.disabled = false;
                }
            };

            addImageButton.addEventListener('click', function() {
                if (index < 5) {
                    const newForm = prototype.replace(/__name__/g, index);
                    const div = document.createElement('div');
                    div.classList.add('image-form', 'row', 'mb-3');
                    div.innerHTML = '<div class="col">' + newForm + '</div><div class="col-auto"><button type="button" class="remove-image btn btn-danger mt-2">X</button></div>';
                    imagesWrapper.appendChild(div);
                    index++;
                    updateAddImageButtonState();
                }
            });

            imagesWrapper.addEventListener('click', function(e) {
                if (e.target && e.target.classList.contains('remove-image')) {
                    e.target.closest('.image-form').remove();
                    index--;
                    updateAddImageButtonState();
                }
            });


        });
    </script>
{% endblock %}
