{% extends "base.html.twig" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block header %}
    {% include "partials/_header.html.twig" with { megaMenu: 'bg-primary', textColor: 'text-tertiary-dark', textHover: 'hover:text-tertiary' } %}
{% endblock %}

{% block body %}
    <div class="slide min-h-screen bg-primary">
        <div class="container">
            <a href="{{ path('posts_index') }}" class="btn btn-yellow btn-squared w-52 my-6">
                < Back to posts
            </a>
            <div class="lg:container lg:h-[95vh] md:h-[110vh] bg-background border-2 border-tertiary-dark shadow rounded-xl md:p-8 p-3 flex lg:flex-row flex-col gap-4">
                <div class="lg:w-1/2 w-full h-full border-2 border-tertiary-dark">
                    <div class="swiper-container w-full aspect-ratio aspect-ratio-1 relative">
                        <div class="swiper-wrapper h-full relative">
                            {% for image in post.postImages %}
                                <div class="swiper-slide w-full h-full flex items-center justify-center">
                                    <img src="{{ asset('uploads/' ~ image.filename) }}" alt="image of {{ post.title }}" class="h-full w-full object-cover object-center">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="lg:w-1/2 w-full space-y-4 p-4">
                    <div class="w-full flex md:flex-row flex-col justify-between md:items-center md:gap-0 gap-4">
                        <div class="flex items-center gap-4">
                            <img src="{{ asset('uploads/' ~ post.author.avatar) }}" alt="image of {{ post.author.pseudo }}" class="object-cover w-12 h-12 rounded-full border-2 border-tertiary-dark">
                            <div>
                                {% if app.user == post.author %}
                                    <a href="{{ path('profile_feed') }}" class="font-bold text-tertiary-dark">{{ post.author.pseudo }}</a></p>
                                {% else %}
                                    <a href="{{ path('profile_show', {'slug': post.author.slug}) }}" class="font-bold text-tertiary-dark">{{ post.author.pseudo }}</a></p>
                                {% endif %}
                                <p>{{ post.timestamp|date('d-m-Y') }}</p>
                            </div>
                        </div>
                        <div class="flex items-center gap-4">
                            {% if app.user == post.author %}
                                <a href="{{ path('post_edit', {'slug': post.slug}) }}" class="badge badge-yellow">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                {% include 'partials/_deleteModal.html.twig' with { 'slug': post.slug, 'modalAction': path('post_delete', {'slug': post.slug}) } %}
                            {% elseif post.id in reportedPostIds %}
                                <span class="text-danger-dark font-bold">Post reported</span>
                            {% else %}
                                {% if app.user %}
                                    {% set isFollowing = app.user.followings|filter(following => following.followedUser.id == post.author.id) %}
                                    <form action="{{ path('toggle_follow', {'slug': post.author.slug}) }}" method="post" class="mb-0 md:w-40 w-full">
                                        <button type="submit" class="btn btn-yellow md:w-40 w-full">
                                            {% if isFollowing|length > 0 %}
                                                Unfollow
                                            {% else %}
                                                Follow
                                            {% endif %}
                                        </button>
                                    </form>
                                {% else %}
                                    <a href="{{ path('account_login') }}" class="btn btn-yellow md:w-40 w-full">Follow</a>
                                {% endif %}
                                <a href="{{ path('report_item', { type: 'post', id: post.id }) }}" class="badge badge-danger">
                                    <i class="fa-regular fa-flag"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <p class="subtitle">{{ post.title }}</p>
                    <p>{{ post.description|raw }}</p>
                    <div class="flex space-x-4">
                        {% include 'partials/_like.html.twig' with { 'type': 'post', 'idOrSlug': post.slug, 'authorId': post.author.id, 'likeCount': post.likes|length, 'likedIds': likedPostSlugs } %}
                        <div class="flex items-center gap-2">
                            <i class="fa-solid fa-comment"></i>
                            <span>{{ post.comments|length }}</span>
                        </div>
                    </div>
                    {% if post.commentDisabled %}
                        <div class="w-full p-4 bg-danger-dark border-2 border-tertiary-dark rounded-xl text-background font-bold flex flex-row gap-2 items-center">
                            <i class="fas fa-info-circle"></i>
                            <p>Comments are disabled for this post.</p>
                        </div>
                    {% else %}
                        {% if app.user %}
                            {{ form_start(myForm) }}
                            <div class="w-full flex gap-1">
                                {{ form_widget(myForm.content) }}
                                {{ form_errors(myForm.content) }}
                                <button class="group w-[50px] h-[50px] bg-highlight rounded-md">
                                    <i class="fa-solid fa-location-arrow text-background rotate-45 group-hover:rotate-0 transition duration-300 mr-1"></i>
                                </button>
                            </div>
                            {{ form_end(myForm) }}

                        {% else %}
                            <div class="w-full p-4 bg-highlight border-2 border-tertiary-dark rounded-xl text-background font-bold flex flex-row gap-2 items-center">
                                <i class="fas fa-info-circle"></i>
                                <p>You must be logged in to comment...</p>
                            </div>
                        {% endif %}
                            {% if comments is empty %}
                                <div class="w-full p-4 bg-secondary border-2 border-tertiary-dark rounded-xl text-background font-bold flex flex-row gap-2 items-center">
                                    <i class="fas fa-info-circle"></i>
                                    <p>Be the first to comment this!</p>
                                </div>
                            {% else %}
                                <div class="w-full lg:h-[200px] h-[175px] overflow-y-auto custom-scrollbar">
                                    {% for comment in comments %}
                                        {% if comment.parent is null %}
                                            <div class="w-full">
                                                <div class="py-5 border-b border-tertiary-light">
                                                    {% include "partials/_comment.html.twig" with { comment: comment } %}
                                                    <div class="w-full mt-2">
                                                        <div class="w-full">
                                                            <button class="underline text-highlight-dark reply-button" data-comment-id="{{ comment.id }}">
                                                                Reply
                                                            </button>

                                                            <div class="reply-form-container" id="reply-form-{{ comment.id }}">
                                                                <form action="{{ path('comment_reply', {'id': comment.id}) }}" method="post">
                                                                    {{ form_start(replyForms[comment.id]) }}
                                                                    <div class="flex items-center gap-2">
                                                                        {{ form_widget(replyForms[comment.id].content) }}
                                                                        {{ form_errors(replyForms[comment.id].content) }}
                                                                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                                                        <button class="group w-[50px] h-[50px] bg-highlight rounded-md">
                                                                            <i class="fa-solid fa-location-arrow text-background rotate-45 group-hover:rotate-0 transition duration-300 mr-1"></i>
                                                                        </button>
                                                                    </div>
                                                                    {{ form_end(replyForms[comment.id]) }}
                                                                </form>
                                                            </div>
                                                        </div>
                                                        {% if comment.replies is not empty %}
                                                            <button class="underline text-tertiary-dark toggle-replies" data-comment-id="{{ comment.id }}">
                                                                View {{ comment.replies|length }} replies
                                                            </button>
                                                            <div class="replies fadeIn" id="replies-{{ comment.id }}">
                                                                {% for reply in comment.replies %}
                                                                    <div class="list-group-item md:w-11/12 w-full bg-background-hover ml-auto p-3 border-b border-tertiary-light">
                                                                        {% include "partials/_comment.html.twig" with { comment: reply } %}
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="slide min-h-screen bg-primary">
        <div class="container">
            <div class="w-full flex md:flex-row flex-col justify-between items-center pb-10">
                <h2 class="title title-second text-tertiary-dark">From the same user:</h2>
                <a href="{{ path('profile_show', {'slug': post.author.slug}) }}" class="btn btn-yellow btn-squared w-52">
                    View profile >
                </a>
            </div>
            <div class="w-full grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 md:gap-4 gap-8">
                {% for otherPost in latestOtherPosts %}
                    {% include "partials/_cardPost.html.twig" with { post: otherPost, imgHeight: 'h-48' } %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('like') }}
    {{ encore_entry_script_tags('likeComment') }}
    {{ encore_entry_script_tags('replyDisplay') }}
    {{ encore_entry_script_tags('replyAdd') }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 1,
                spaceBetween: 10,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            });
        });
    </script>
{% endblock %}
