<div class="w-full bg-white border-2 border-tertiary-dark flex flex-col lg:p-8 p-6 h-full relative">
    <div class="w-full flex lg:flex-row flex-col justify-between items-center border-2 border-tertiary-dark p-3">
        <div class="flex gap-2 items-center lg:w-1/2 w-full">
            {% if post.author.avatar %}
                <img src="{{ asset('uploads/' ~ post.author.avatar) }}" alt="avatar of {{post.author.pseudo}}" class="w-8 h-8 object-cover rounded-full">
            {% endif %}
            <p class="text-tertiary-dark">By 
            {% if app.user == post.author %}
                <a href="{{ path('profile_feed') }}" class="font-bold">{{ post.author.pseudo }}</a></p>
            {% else %}
                <a href="{{ path('profile_show', {'slug': post.author.slug}) }}" class="font-bold">{{ post.author.pseudo }}</a></p>
            {% endif %}
            {% include "partials/_follow.html.twig" with {user: post.author} %}
        </div>
        <div class="flex gap-2 items-center lg:justify-end justify-between lg:w-1/2 w-full">
            {% if app.user == post.author %}
                <a href="{{ path('post_edit', {'slug': post.slug}) }}" class="badge badge-yellow">
                    <i class="fa-solid fa-pencil"></i>
                </a>

                {% include 'partials/_deleteModal.html.twig' with {
                    'slug': post.slug,
                    'modalAction': path('post_delete', {'slug': post.slug})
                } %}
            {% elseif post.id in reportedPostIds %}
                <span class="text-gray-500">Post reported</span>
            {% else %}
                <p>{{ post.timestamp|date('d-m-Y') }}</p>
                <a href="{{ path('report_item', { type: 'post', id: post.id }) }}" class="badge badge-danger"><i class="fa-regular fa-flag"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="{{imgHeight}}  border-2 border-tertiary-dark border-t-0 flex-shrink-0">
        {% if post.postImages|length > 0 %}
            {% set firstImage = post.postImages|first %}
            {% if firstImage is not null and firstImage.filename is defined %}
                <img src="{{ asset('uploads/' ~ firstImage.filename) }}" alt="image of {{post.title}}" class="w-full h-full object-cover">
            {% else %}
                <p>No image available</p>
            {% endif %}
        {% else %}
            <p>No images available</p>
        {% endif %}
    </div>
    <div class="flex-1 border-2 border-tertiary-dark border-t-0 p-3 flex flex-col justify-between">
        <div>
            <p class="subtitle mb-2">{{post.title}}</p>
            <p class="mb-4">{{post.description|striptags|slice(0, 40) ~ '...'}}</p>
        </div>
        <div class="flex justify-between items-center mt-auto">
            <div class="flex items-center gap-4">
                {% include 'partials/_like.html.twig' with {
                    'type': 'post',
                    'idOrSlug': post.slug,
                    'authorId': post.author.id,
                    'likeCount': post.likes|length,
                    'likedIds': likedPostSlugs
                } %}
            </div>
            <a href="{{ path('post_show', {'slug': post.slug}) }}" class="w-40 btn btn-yellow btn-squared">SHOW ></a>
        </div>
    </div>
    <img src="/images/skotch.svg" class="lg:w-40 w-32 absolute -top-6 bg-cover bg-center left-1/2 -translate-x-1/2 z-20"></img>
</div>

