<div class="w-full bg-primary-dark pt-10">
    <div class="container flex lg:flex-row flex-col lg:gap-20 gap-10 justify-between">
        <div class="lg:w-1/2 w-full">
            <p class="font-bold text-primary mb-3">ONLINE STORE • COMMUNITY</p>
            <p class="font-bold text-background text-lg mb-3">DISCLAIMER</p>
            <p class="text-background mb-10">Please note that this website is a demonstration and is not intended for actual transactions. All images used are royalty-free, sourced from licensed providers, and do not represent any real products or services. Payments made through this platform are final and non-refundable.</p>
            <div class="flex md:flex-row flex-col gap-4">
                <a href="{{path('account_login')}}" class="block md:w-1/2 w-full border-2 border-background text-center font-bold text-background hover:bg-primary-hover transition duration-300 py-2 rounded-full">LOGIN ></a>
                <a href="{{path('account_register')}}" class="block md:w-1/2 w-full border-2 border-background text-center font-bold text-background hover:bg-primary-hover transition duration-300 py-2 rounded-full">JOIN US ></a>
            </div>
        </div>
        <div class="lg:w-1/2 w-full flex md:flex-row flex-col gap-5 justify-between">
            <div class="md:w-1/2 w-full flex">
                <div class="w-1/2">
                    <a href='{{path('homepage')}}' class="font-bold text-primary">HOME</a>
                    <div class="border-l border-primary flex flex-col gap-4 pl-4 mt-4">
                        <a href="{{path('homepage')}}" class="text-background hover:text-background-hover transition duration-300">Concept</a>
                        <a href="{{path('homepage')}}" class="text-background hover:text-background-hover transition duration-300">Reviews</a>
                        <a href="{{path('homepage')}}" class="text-background hover:text-background-hover transition duration-300">About us</a>
                        <a href="{{path('homepage')}}" class="text-background hover:text-background-hover transition duration-300">Contact</a>
                    </div>
                </div>
                <div class="w-1/2">
                    <a href='{{path('store')}}' class="font-bold text-primary">STORE</a>
                    <div class="border-l border-primary flex flex-col gap-4 pl-4 mt-4">
                        <a href="{{path('store')}}" class="text-background hover:text-background-hover transition duration-300">Store</a>
                        <a href="{{path('cart_show')}}" class="text-background hover:text-background-hover transition duration-300">Cart</a>
                        <a href="{{path('orders_index')}}" class="text-background hover:text-background-hover transition duration-300">Orders</a>
                        <a href="{{path('homepage')}}" class="text-background hover:text-background-hover transition duration-300">Contact</a>
                    </div>
                </div>
            </div>
            <div class="md:w-1/2 w-full flex">
                <div class="w-1/2">
                    <a href='{{path('community')}}' class="font-bold text-primary">COMMUNITY</a>
                    <div class="border-l border-primary flex flex-col gap-4 pl-4 mt-4">
                        <a href="{{path('community')}}" class="text-background hover:text-background-hover transition duration-300">Discover</a>
                        <a href="{{path('posts_index')}}" class="text-background hover:text-background-hover transition duration-300">Posts</a>
                        <a href="{{path('awards')}}" class="text-background hover:text-background-hover transition duration-300">Awards</a>
                        <a href="{{path('account_register')}}" class="text-background hover:text-background-hover transition duration-300">Join us</a>
                    </div>
                </div>
                <div class="w-1/2">
                    <a href='{{path('homepage')}}' class="font-bold text-primary">SOCIAL MEDIA</a>
                    <div class="border-l border-primary flex flex-col gap-4 pl-4 mt-4">
                        <a href="{{path('homepage')}}" class="text-background hover:text-background-hover transition duration-300">Facebook</a>
                        <a href="{{path('homepage')}}" class="text-background hover:text-background-hover transition duration-300">X (Twitter)</a>
                        <a href="{{path('homepage')}}" class="text-background hover:text-background-hover transition duration-300">Instagram</a>
                        <a href="{{path('homepage')}}" class="text-background hover:text-background-hover transition duration-300">Tiktok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container flex justify-between items-end lg:py-10 md:py-16 py-4 border-b border-primary">
        <img src="/images/cutestorm-watermark.svg" alt="cutestorm watermark" class="md:w-5/6 md:block hidden">
        <div class="md:w-auto w-full flex flex-col md:items-end items-center gap-4">
            <a href="{{path('private_policy')}}"class="uppercase text-primary md:text-end text-center">Terms of Use</a>
            <a href="{{path('private_policy')}}"class="uppercase text-primary md:text-end text-center">Privacy Policy</a>
            <a href="{{path('private_policy')}}"class="uppercase text-primary md:text-end text-center">Security</a>
        </div>
    </div>
    <div class="container flex md:flex-row flex-col justify-between items-center py-2">
        <p class="text-background">ONLINE STORE • COMMUNITY</p>
        <p class="text-background uppercase">© Copyright  - KQ 2024</p>
    </div>
</div>