<header class="absolute top-0 left-0 z-50 w-full">
	<div class="mx-auto flex items-center justify-between py-5 lg:px-20 px-5 pr-16 relative">
		<div>
			<a href="#" class="flex items-center">
				<img src="/images/cutestorm-logo.svg" alt="Logo" class="h-8 mr-3">
				<div>
					<p class="font-gliker text-tertiary-dark">CUTESTORM</p>
					<p class="text-xs">ONLINE MEDIA</p>
				</div>
			</a>
		</div>

        <div class="w-1/2 flex items-center justify-end">
            <div class="lg:flex hidden w-full items-center" id="nav-link">
                <div class="w-full flex justify-center items-center gap-3 hover:font-bold group">
                    <span class="w-2.5 h-2.5 bg-secondary border-2 border-tertiary-dark rounded-full scale-0 transition-transform duration-300 group-hover:scale-100"></span>
                    <a href="{{path('homepage')}}" class="relative flex items-center text-tertiary-dark">HOME</a>
                </div>
                <div class="w-full flex justify-center items-center gap-3 hover:font-bold group">
                    <span class="w-2.5 h-2.5 bg-secondary border-2 border-tertiary-dark rounded-full scale-0 transition-transform duration-300 group-hover:scale-100"></span>
                    <a href="{{path('store')}}" class="relative flex items-center text-tertiary-dark">STORE</a>
                </div>
                <div class="w-full flex justify-center items-center gap-3 hover:font-bold group">
                    <span class="w-2.5 h-2.5 bg-secondary border-2 border-tertiary-dark rounded-full scale-0 transition-transform duration-300 group-hover:scale-100"></span>
                    <a href="{{path('community')}}" class="relative flex items-center text-tertiary-dark">COMMUNITY</a>
                </div>
                <div class="w-full flex justify-center items-center gap-3 hover:font-bold group">
                    <span class="w-2.5 h-2.5 bg-secondary border-2 border-tertiary-dark rounded-full scale-0 transition-transform duration-300 group-hover:scale-100"></span>
                    <a href="{{path('account_register')}}" class="relative flex items-center text-tertiary-dark">JOIN US</a>
                </div>

                <!-- Mega menu -->
                <div class="lg:absolute relative top-full left-0 px-20 py-8 {{ megaMenu }} w-full hidden z-50 flex flex-row gap-10 justify-between" id="mega-menu">
                    <div class="w-1/3 flex flex-col justify-between mt-8">
                        <div class="w-full flex justify-between">
                            <ul>
                                <li class="mb-4">
                                    <a href="{{path('homepage')}}" class="subtitle hover:text-tertiary transition-all duration-300">HOME</a>
                                </li>
                                <li class="mb-2 {{ textColor }} {{ textHover }}  transition-all duration-300">
                                    <a href="#">Concept</a>
                                </li>
                                <li class="mb-2 {{ textColor }} {{ textHover }} transition-all duration-300">
                                    <a href="#">About us</a>
                                </li>
                                <li class="{{ textColor }} {{ textHover }} transition-all duration-300">
                                    <a href="#">Contact us</a>
                                </li>
                            </ul>
                            <ul>
                                <li class="mb-4">
                                    <a href="{{path('store')}}" class="subtitle hover:text-tertiary transition-all duration-300">STORE</a>
                                </li>
                                <li class="mb-2 {{ textColor }} {{ textHover }} transition-all duration-300">
                                    <a href="{{path('store')}}">Store</a>
                                </li>
                                <li class="mb-2 {{ textColor }} {{ textHover }} transition-all duration-300">
                                    <a href="{{path('cart_show')}}">Cart</a>
                                </li>
                                <li class="mb-2 {{ textColor }} {{ textHover }} transition-all duration-300">
                                    <a href="{{path('orders_index')}}">Orders</a>
                                </li>
                            </ul>
                            <ul>
                                <li class="mb-4">
                                    <a href="{{path('community')}}" class="subtitle hover:text-tertiary transition-all duration-300">COMMUNITY</a>
                                </li>
                                <li class="mb-2 {{ textColor }} {{ textHover }} transition-all duration-300">
                                    <a href="{{path('posts_index')}}">Posts</a>
                                </li>
                                <li class="mb-2 {{ textColor }} {{ textHover }} transition-all duration-300">
                                    <a href="{{path('awards')}}">Awards</a>
                                </li>
                                <li class="{{ textColor }} {{ textHover }} transition-all duration-300">
                                    <a href="{{path('account_register')}}">Join us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="w-1/3 flex justify-between">
                            {% include "partials/_socialMedia.html.twig" with { textColor: 'text-tertiary-dark' } %}
                        </div>
                    </div>
                    <div class="w-2/3 mx-auto flex items-center justify-center mega-menu-background">
                        <div class="w-2/3 mx-auto flex flex-col items-center gap-2">
                            <div class="w-1/5 h-36 border-4 border-tertiary-dark rounded-xl mega-menu-img"></div>
                            <a href="{{path('account_login')}}" class="w-full btn btn-yellow">LOGIN ></a>
                            <a href="{{path('account_register')}}" class="w-full btn btn-purple">REGISTER ></a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{path('account_login')}}" class="w-32 btn btn-yellow">
                LOGIN
            </a>
            <div class="lg:hidden flex items-center absolute z-50 right-6">
                <button id="burger-menu" class="flex flex-col gap-1.5 justify-center items-center">
                    <span id="burger-bar-1" class="block w-8 h-0.5 bg-tertiary-dark transition-transform duration-300"></span>
                    <span id="burger-bar-2" class="block w-8 h-0.5 bg-tertiary-dark transition-transform duration-300"></span>
                    <span id="burger-bar-3" class="block w-8 h-0.5 bg-tertiary-dark transition-transform duration-300"></span>
                </button>
            </div>


            <div class="lg:hidden bg-primary w-full fixed inset-0 flex flex-col justify-center z-1 h-screen hidden" id="burger-menu-container">
                <div class="w-5/6 mx-auto">
                    <div class="flex justify-between items-end md:flex-nowrap flex-wrap">
                        <div>
                            <img src="/images/cutestorm-logo.svg" alt="Logo" class="md:h-24 h-8 mr-3">
                            <h1 class="title text-tertiary-dark">CUTESTORM</h1>
                        </div>
                        <div class="md:mb-8 flex flex-col gap-2 w-full items-end">
                            <a href="{{path('account_login')}}" class="md:w-52 w-full btn btn-yellow">
                                LOGIN >
                            </a>
                            <a href="{{path('account_register')}}" class="md:w-52 w-full btn btn-white">
                                REGISTER >
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-row gap-10 justify-between md:my-12 my-8" id="burger-menu-content">
                            <ul>
                                <li class="mb-4">
                                    <a href="{{path('homepage')}}" class="subtitle">HOME</a>
                                </li>
                                <li class="mb-2 text-tertiary-dark">
                                    <a href="#">Concept</a>
                                </li>
                                <li class="mb-2 text-tertiary-dark">
                                    <a href="#">About us</a>
                                </li>
                                <li class="text-tertiary-dark">
                                    <a href="#">Contact us</a>
                                </li>
                            </ul>
                            <ul>
                                <li class="mb-4">
                                    <a href="{{path('store')}}" class="subtitle">STORE</a>
                                </li>
                                <li class="mb-2 text-tertiary-dark">
                                    <a href="#">Filtres</a>
                                </li>
                                <li class="mb-2 text-tertiary-dark">
                                    <a href="#">Filtres</a>
                                </li>
                                <li class="text-tertiary-dark">
                                    <a href="#">Filtres</a>
                                </li>
                            </ul>
                            <ul>
                                <li class="mb-4">
                                    <a href="{{path('community')}}" class="subtitle">COMMUNITY</a>
                                </li>
                                <li class="mb-2 text-tertiary-dark">
                                    <a href="#">Posts</a>
                                </li>
                                <li class="text-tertiary-dark">
                                    <a href="#">Awards</a>
                                </li>
                            </ul>
                    </div>
                    <div class="w-full h-40 border-4 border-tertiary-dark rounded-xl mega-menu-img"></div>
                </div>
            </div>
        </div>
	</div>
</header>


{% block javascripts %}
    {{ encore_entry_script_tags('header') }}
{% endblock %}