{% if orders|length > 0 %}
	<div class="w-full grid lg:grid-cols-2 grid-cols-1 gap-4">
		{% for order in orders %}
			<div class="w-full rounded-xl shadow flex">
				<div class="w-20 bg-background-hover rounded-l-xl border-2 border-tertiary-dark flex justify-center items-center">
					<div class="w-4 h-4 {{ order.isPaid ? 'bg-success' : 'bg-danger-dark' }} rounded-full border-2 border-tertiary-dark"></div>
				</div>
				<div class="w-full h-full bg-background border-2 border-l-0 border-tertiary-dark p-4 rounded-r-xl  flex flex-col justify-center">
					<p>{{ order.timestamp|date('d/m/Y H:i') }}</p>
					<p class="font-bold text-tertiary-dark">ORDER REF :
						{{order.reference}}</p>
					<p>
						<span class="font-bold">Total price :
						</span>
						{{ order.totalPrice|number_format(2, ',', '.') }}
						$</p>
					<div class="flex justify-end gap-2 mt-4">
						<a href="{{ path('order_pdf', { reference: order.reference }) }}" class="badge badge-highlight">
							<i class="fa-solid fa-download text-background"></i>
						</a>
						<a href="{{ path('order_show', { reference: order.reference }) }}" class="btn btn-yellow btn-small">
							View Details
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% else %}
	<div class="w-full p-4 bg-background border-2 border-tertiary-dark rounded-xl text-tertiary-dark font-bold flex flex-row gap-2 items-center">
		<i class="fas fa-info-circle"></i>
		<p>Nothing bought, but nothing to pay so...</p>
	</div>
{% endif %}
