<div class="w-full flex justify-center pt-10">
    <ul class="w-1/4 pagination pagination-sm flex justify-between items-center">
        <!-- first page -->
        <li class="page-item">
            <a href="{{ path(route, parameters | merge({ 'page': 1 })) }}" class="page-link text-tertiary-dark {% if page == 1 %}opacity-50 cursor-not-allowed{% endif %}">
                <i class="fa-solid fa-angles-left"></i>
            </a>
        </li>

        <!-- previous page button -->
        <li class="page-item">
            <a href="{{ path(route, parameters | merge({ 'page': page - 1 })) }}" class="page-link text-tertiary-dark {% if page == 1 %}opacity-50 cursor-not-allowed{% endif %}">
                <i class="fa-solid fa-angle-left"></i>
            </a>
        </li>

        <!-- previous page -->
        {% if page > 1 %}
            <li class="page-item">
                <a href="{{ path(route, parameters | merge({ 'page': page - 1 })) }}" class="page-link w-8 h-8 transition duration-300 hover:bg-white hover:border-2 hover:border-tertiary-dark rounded-full hover:font-bold hover:text-tertiary-dark text-tertiary flex justify-center items-center">{{ page - 1 }}</a>
            </li>
        {% endif %}

        <!-- current page -->
        <li class="page-item active w-8 h-8 bg-white border-2 border-tertiary-dark rounded-full font-bold text-tertiary-dark flex justify-center items-center">
            <span class="page-link">{{ page }}</span>
        </li>

        <!-- next page -->
        {% if page < pages %}
            <li class="page-item">
                <a href="{{ path(route, parameters | merge({ 'page': page + 1 })) }}" class="page-link w-8 h-8 transition duration-300 hover:bg-white hover:border-2 hover:border-tertiary-dark rounded-full hover:font-bold hover:text-tertiary-dark text-tertiary flex justify-center items-center">{{ page + 1 }}</a>
            </li>
        {% endif %}

        <!-- next page button -->
        <li class="page-item">
            <a href="{{ path(route, parameters | merge({ 'page': page + 1 })) }}" class="page-link {% if page == pages %}opacity-50 cursor-not-allowed{% endif %}">
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </li>

        <!-- last page -->
        <li class="page-item">
            <a href="{{ path(route, parameters | merge({ 'page': pages })) }}" class="page-link text-tertiary-dark {% if page == pages %}opacity-50 cursor-not-allowed{% endif %}">
                <i class="fa-solid fa-angles-right"></i>
            </a>
        </li>
    </ul>
</div>
