<div class="lg:w-1/2 w-full bg-background border-2 border-tertiary-dark shadow p-5 rounded-xl">
    <div class="w-full flex md:flex-row flex-col justify-between gap-4">
        <div class="md:w-1/2 w-full border-2 border-tertiary-dark aspect-[1/1]">
            {% if product.productImages|length > 0 %}
                {% set firstImage = bestSeller.productImages|first %}
                {% if firstImage is not null and firstImage.filename is defined %}
                    <img src="{{ asset('uploads/' ~ firstImage.filename) }}" alt="image of {{product.name}}" class="w-full h-full object-cover">
                {% else %}
                    <p>No image available</p>
                {% endif %}
            {% else %}
                <p>No images available</p>
            {% endif %}
        </div>
        <div class="md:w-1/2 w-full">
            <h3 class="title title-third text-tertiary-dark">{{title}}</h3>
            <p class="text-tertiary-dark font-bold">REF {{product.reference}}</p>
            <p><span class="font-bold">Name : </span> {{product.name}}</p>
            <p><span class="font-bold">Price : </span> $ {{ product.price | number_format(2, ',', '.') }}</p>
            <p><span class="font-bold">Color : </span>  {{ product.color.name }}</p>
        </div>
    </div>
    <p class="mt-4">{{product.description|raw}}</p>
</div>