{% extends "base.html.twig" %}
{% block header %}
    
    {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_MODERATOR' in app.user.roles %}
        {% include "partials/_header.html.twig" with { megaMenu: 'bg-secondary-light', textColor: 'text-tertiary-dark', textHover: 'hover:text-tertiary' } %}
    {% else %}
        {% include "partials/_header.html.twig" with { megaMenu: 'bg-primary', textColor: 'text-tertiary-dark', textHover: 'hover:text-tertiary' } %}
    {% endif %}
    
{% endblock %}


{% block body %}
    <div class="slide min-h-screen 
        {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_MODERATOR' in app.user.roles %}
            bg-secondary-light
        {% else %}
            bg-primary
        {% endif %}
    ">
        <div class="container min-h-full flex md:flex-row flex-col justify-between gap-10">
            <div class="lg:w-1/5 md:w-1/3 w-full shadow rounded-xl h-full md:sticky top-4 z-10">
                <div class="bg-primary-dark md:rounded-t-xl md:rounded-b-none rounded-xl border-2 border-tertiary-dark px-4 py-2 flex flex-row justify-between items-center radius">
                    <h5 class="text-background font-bold text-lg">Profile navigation</h5>
                    <i class="fa-solid fa-chevron-down text-background md:hidden block transition duration-300"></i>
                </div>
                <div class="bg-background rounded-b-xl border-t-0 border-2 border-tertiary-dark py-4 md:block hidden display">

                    {% set commonMenuItems = [
                        { route: 'profile_feed', icon: 'fa-house', label: 'Feed' },
                        { route: 'resume_activities', icon: 'fa-table-columns', label: 'Dashboard' },
                        { route: 'orders_index', icon: 'fa-cart-shopping', label: 'Orders' },
                        { route: 'profile_posts', icon: 'fa-image', label: 'Posts' },
                        { route: 'resume_likes', icon: 'fa-heart', label: 'Likes' },
                        { route: 'resume_followers', icon: 'fa-user-group', label: 'Followers' },
                        { route: 'resume_followings', icon: 'fa-user-plus', label: 'Followings' },
                        { route: 'notifications_index', icon: 'fa-bell', label: 'Notifications' },
                        { route: 'conversations_index', icon: 'fa-comment', label: 'Conversations' },
                        { route: 'requests_index', icon: 'fa-paper-plane', label: 'Follow requests' },
                        { route: 'account_settings', icon: 'fa-gear', label: 'Settings' },
                    ] %}

                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        {% set additionalAdminMenuItems = [
                            { route: 'homepage', icon: 'fa-house', label: 'Home' },
                            { route: 'products_index', icon: 'fa-shirt', label: 'Products' },
                            { route: 'admin_orders_index', icon: 'fa-cart-shopping', label: 'Orders' },
                            { route: 'stock_index', icon: 'fa-box', label: 'Stock' },
                            { route: 'reports_index', icon: 'fa-flag', label: 'Reports' },
                            { route: 'contact_index', icon: 'fa-envelope', label: 'Contacts' },
                            { route: 'account_logout', icon: 'fa-arrow-right-from-bracket', label: 'Log out' },
                        ] %}
                        {% set menuItems = additionalAdminMenuItems %}
                    {% elseif 'ROLE_MODERATOR' in app.user.roles %}
                        {% set additionalModeratorMenuItems = [
                            { route: 'reports_index', icon: 'fa-flag', label: 'Reports' },
                            { route: 'account_logout', icon: 'fa-arrow-right-from-bracket', label: 'Log out' }
                        ] %}
                        {% set menuItems = commonMenuItems | merge(additionalModeratorMenuItems) %}
                    {% elseif 'ROLE_USER' in app.user.roles %}
                        {% set additionalModeratorMenuItems = [
                            { route: 'account_logout', icon: 'fa-arrow-right-from-bracket', label: 'Log out' }
                        ] %}
                        {% set menuItems = commonMenuItems | merge(additionalModeratorMenuItems) %}
                    {% endif %}


                    {% for item in menuItems %}
                        <a href="{{ path(item.route) }}" class="w-full px-4 py-3 {{ currentTab == item.route ? 'bg-background-hover text-tertiary-dark' : 'hover:bg-background-hover' }} transition-all duration-300 flex flex-row justify-between items-center">
                            <div class="flex gap-4">
                                <div class="w-5 h-5 flex justify-center items-center">
                                    <i class="fa-solid {{ item.icon }} {{ item.label == 'Log out' ? 'text-danger-dark' : '' }}"></i>
                                </div>
                                <p class="font-bold {{ item.label == 'Log out' ? 'text-danger-dark' : '' }}">{{ item.label }}</p>
                            </div>
                            {% if item.label == "Orders" and order_repository.findUnpaidOrders(app.user)%}
                                <div class="w-5 h-5 rounded-full bg-danger-dark flex justify-center items-center">
                                    <p class="text-background text-xs font-bold">!</p>
                                </div>
                            {% elseif item.label == "Notifications" and notification_repository.countUnreadNotifications(app.user)> 0 %}
                                <div class="w-5 h-5 rounded-full bg-secondary flex justify-center items-center">
                                    <p class="text-tertiary-dark text-xs font-bold">{{ notification_repository.countUnreadNotifications(app.user) }}</p>
                                </div>
                            {% elseif item.label == "Conversations" and app.user.countUnreadMessages()> 0 %}
                                <div class="w-5 h-5 rounded-full bg-secondary flex justify-center items-center">
                                    <p class="text-tertiary-dark text-xs font-bold">{{app.user.countUnreadMessages()}}</p>
                                </div>
                            {% elseif item.label == "Follow requests" and follow_request_repository.countReceivedRequests(app.user)> 0 %}
                                <div class="w-5 h-5 rounded-full bg-secondary flex justify-center items-center">
                                    <p class="text-tertiary-dark text-xs font-bold">{{follow_request_repository.countReceivedRequests(app.user)}}</p>
                                </div>
                            {% elseif item.label == "Reports" and report_repository.countAllReports > 0 %}
                                <div class="w-5 h-5 rounded-full bg-secondary flex justify-center items-center">
                                    <p class="text-tertiary-dark text-xs font-bold">{{report_repository.countAllReports}}</p>
                                </div>
                            {% elseif item.label == "Contacts" and contact_repository.countUnreadMessages > 0 %}
                                <div class="w-5 h-5 rounded-full bg-secondary flex justify-center items-center">
                                    <p class="text-tertiary-dark text-xs font-bold">{{contact_repository.countUnreadMessages}}</p>
                                </div>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="lg:w-3/5 md:w-2/3 w-full min-h-screen">
                {% block content %}{% endblock %}
            </div>
            <div class="w-1/5 h-full lg:block sticky top-4 z-10 hidden">
                <div class="flex flex-col gap-5">
                    <div class="shadow rounded-xl">
                        <div class="rounded-t-xl border-2 border-tertiary-dark px-4 py-2 h-[25vh] bg-cover bg-center" style="background-image: url('/uploads/{{app.user.banner}}');">
                        </div>
                        <div class="bg-background rounded-b-xl border-t-0 border-2 border-tertiary-dark py-4 h-16 relative">
                            <img src="/uploads/{{app.user.avatar}}" alt="avatar of {{app.user.pseudo}}" class="absolute -top-10 w-20 h-20 left-4 object-cover rounded-full border-2 border-tertiary-dark">
                            <div class="subtitle text-end text-tertiary-dark mr-4">{{app.user.pseudo}}</div>
                        </div>
                    </div>
                    {% if not ('ROLE_ADMIN' in app.user.roles or 'ROLE_MODERATOR' in app.user.roles) %}
                        {% include "partials/_notepad.html.twig" with {user:app.user} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('toggleDisplay')}}
{% endblock %}