{% extends 'base.html.twig' %}

{% block title %}
    {% block images_title %}Images{% endblock %}
{% endblock %}

{% block body %}
<div style="background-color: {% block background_color %}white{% endblock %};">
    <div class="container mt-4">
        <h1 class="mb-4">
            {% block images_heading %}Images{% endblock %}
        </h1>
        <a href="{{ path(block('add_image_route'), { 'slug': block('slug') }) }}" class="btn btn-success mb-4">
            {% block add_image_text %}Add New Image{% endblock %}
        </a>
        <div class="row">
            {% for image in images %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ asset('uploads/' ~ image.filename) }}" class="card-img-top img-fluid" alt="Image for {{ block('alt_text') }}">
                    </div>
                    <a href="#deleteModal{{ image.id }}" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteModal{{ image.id }}">Remove</a>
                    {% include 'partials/_deleteModal.html.twig' with {
                        'modalId': 'deleteModal' ~ image.id,
                        'modalAction': path(block('delete_image_route'), { 'id': image.id })
                        } 
                    %}
                </div>
            {% endfor %}
        </div>
        <a href="{{ path(block('back_route'), { 'slug': block('slug') }) }}" class="btn btn-primary mt-4">
            Back
        </a>
    </div>
</div>


<div class="w-1/2 h-1/2 relative border-2 border-dashed border-black transform rotate-[15deg]">
    <img src="/images/cutestorm-community-hero.webp" alt="img" class="w-full h-full object-cover">

    <div class="absolute w-4 h-4 bg-black rounded-full -top-2 -left-2"></div>
    <div class="absolute w-4 h-4 bg-black rounded-full -top-2 -right-2"></div>
    <div class="absolute w-4 h-4 bg-black rounded-full -bottom-2 -left-2"></div>
    <div class="absolute w-4 h-4 bg-black rounded-full -bottom-2 -right-2"></div>
    <div class="absolute w-4 h-4 bg-secondary border-2 border-black rounded-full -top-2 left-1/2 transform -translate-x-1/2"></div>
    <div class="absolute w-4 h-4 bg-black rounded-full -bottom-2 left-1/2 transform -translate-x-1/2"></div>
    <div class="absolute w-4 h-4 bg-black rounded-full -left-2 top-1/2 transform -translate-y-1/2"></div>
    <div class="absolute w-4 h-4 bg-black rounded-full -right-2 top-1/2 transform -translate-y-1/2"></div>
</div>
{% endblock %}
