{% extends 'base.html.twig' %}

{% block title %}
    {% block images_title %}Images{% endblock %}
{% endblock %}

{% block body %}
<div style="background-color: {% block background_color %}white{% endblock %};">
    <div class="container mt-4">
        <h1 class="mb-4">
            {% block images_heading %}Images{% endblock %}
        </h1>
        <a href="{{ path(block('add_image_route'), { 'slug': block('slug') }) }}" class="btn btn-success mb-4">
            {% block add_image_text %}Add New Image{% endblock %}
        </a>
        <div class="row">
            {% for image in images %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ asset('uploads/' ~ image.filename) }}" class="card-img-top img-fluid" alt="Image for {{ block('alt_text') }}">
                    </div>
                    <a href="{{ path(block('delete_image_route'), { 'id': image.id }) }}" class="btn btn-danger mt-4">
                        {% block remove_button_text %}Remove{% endblock %}
                    </a>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path(block('back_route'), { 'slug': block('slug') }) }}" class="btn btn-primary mt-4">
            {% block back_button_text %}Back{% endblock %}
        </a>
    </div>
</div>
{% endblock %}
