{% extends 'layouts/account_layout.html.twig' %}

{% set currentTab = 'reports_index' %}

{% block content %}
    <div class="flex justify-between items-center mb-4">
        <h2 class="title title-second text-tertiary-dark">{{title}}</h2>
        <div class="flex flex-row gap-2">
            <a href="{{ path('reports_index') }}" class="btn btn-purple btn-small">All</a>
            <a href="{{ path('reports_posts') }}" class="btn btn-danger btn-small">Posts</a>
            <a href="{{ path('reports_comments') }}" class="btn btn-blue btn-small">Comments</a>
            <a href="{{ path('reports_users') }}" class="btn btn-yellow btn-small">Users</a>
        </div>
    </div>
    {% if reports|length > 0 %}
        <div class="w-full flex flex-col gap-5">
            {% for report in reports %}
                {% block report_content %}{% endblock %}
            {% endfor %}
        </div>
        {% block pagination %}{% endblock %}
    {% else %}
        <div class="w-full p-4 bg-background border-2 border-tertiary-dark rounded-xl text-tertiary-dark font-bold flex flex-row gap-2 items-center">
            <i class="fas fa-info-circle"></i>
            <p>Good news: there's no bad news !</p>
        </div>
    {% endif %}
{% endblock %}