{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    {# ------------------------------SLIDE 1 - ADD TO CART------------------------------ #}
    <div class="slide bg-background">
        <div class="container flex lg:flex-row flex-col gap-10">
            <div class="lg:w-1/2 w-full linear-background">
                <div class="md:m-10 lg:mt-0 mt-20 border-tertiary-dark shadow rounded-xl flex flex-col h-full">
                    {% include "partials/_cardHeader.html.twig" with { backgroundClass: 'bg-primary-dark' } %}
                    <div class="bg-white border-2 border-tertiary-dark p-6 py-8 rounded-b-xl flex-1">
                        <div class="swiper-container w-full lg:h-[65vh] h-[45vh] relative">
                            <div class="swiper-wrapper h-full relative">
                                {% for image in product.productImages %}
                                    <div class="swiper-slide w-full h-full flex items-center justify-center">
                                        <img src="{{ asset('uploads/' ~ image.filename) }}" alt="image of {{product.name}}" class="max-h-full max-w-full object-contain object-center">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/2 w-full flex flex-col justify-between mb-5">
                <div>
                    <h3 class="mt-5 title text-primary-dark">{{product.name}}</h3>
                    <p class="font-bold -mt-2 mb-5 text-tertiary-dark">REF: {{product.reference}}</p>
                    <p class="mb-5">{{product.description|raw}}</p>
                </div>
                <div>
                    <div class="flex items-center gap-1 mb-5">
                        <p class="font-bold text-tertiary-dark">Color:</p>
                        <div class="w-3 h-3 rounded-full border-2 border-tertiary-dark" style="background-color: {{ product.color.hexCode }};"></div>
                        <p>{{product.color.name}}</p>
                    </div>
                    {{ form_start(myForm) }}
                        <div class="h-full">
                            <p class="font-bold text-tertiary-dark mb-2">Available Size:</p>
                            <div class="flex flex-wrap gap-5 mb-5">
                                {% for child in myForm.productVariant %}
                                    <div class="relative group">
                                        {{ form_widget(child, {'attr': {'class': 'hidden', 'data-id': child.vars.id}}) }}
                                        {% set stock = child.vars.attr['data-stock'] %}
                                        {% if stock > 0 %}
                                            <label 
                                                for="{{ child.vars.id }}" 
                                                class="inline-flex items-center font-bold px-3 py-2 cursor-pointer text-tertiary-dark rounded-full border-2 border-tertiary-dark group-hover:bg-secondary group-hover:border-tertiary-dark transition-all duration-300 select-size"
                                                data-id="{{ child.vars.id }}">
                                                {{ child.vars.label }}
                                            </label>
                                        {% else %}
                                            <label 
                                                for="{{ child.vars.id }}" 
                                                class="inline-flex items-center text-tertiary-light font-bold line-through px-3 py-2 rounded-full border-2 border-background cursor-not-allowed"
                                                data-id="{{ child.vars.id }}">
                                                {{ child.vars.label }}
                                            </label>
                                        {% endif %}
                                        <div class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 hidden group-hover:block bg-tertiary-dark text-white text-xs rounded py-1 px-4">
                                            {% if stock > 0 %}
                                                {{ stock }} in stock
                                            {% else %}
                                                Out of Stock
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="flex justify-between mb-5">
                                <label for="{{ myForm.quantity.vars.id }}" class="text-tertiary-dark font-bold text-sm">
                                    {{ 'Quantity:' | trans }}
                                </label>

                                <div class="flex items-center">
                                    <button class="bg-primary-dark hover:bg-primary-dark text-tertiary-dark font-bold py-2 px-4 rounded-l-full border-2 border-tertiary-dark" type="button">-</button>
                                    {{ form_widget(myForm.quantity, { 'attr': {'class': 'form-control w-full py-2 rounded-none text-center', 'id': 'quantity-input'} }) }}
                                    <button class="bg-primary-dark hover:bg-primary-dark text-tertiary-dark font-bold py-2 px-4 rounded-r-full border-2 border-tertiary-dark" type="button">+</button>
                                </div>
                            </div>
                            <p class="text-7xl font-bold text-tertiary-dark text-end mb-5">$ {{ product.price | number_format(2, ',', '.') }}</p>
                            <button type="submit" class="w-full btn btn-purple mt-auto">Add to Cart</button>
                        </div>
                    {{ form_end(myForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="slide bg-background">
        <div class="container">
            <div class="w-full flex flex-wrap lg:justify-between items-center mb-10">
                <div class="lg:w-1/2 w-full lg:mb-0 mb-5">
                    <h2 class="title text-primary-dark">You might also like...</h2>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper ultricies fermentum. Sed vitae solli citudin ipsum, eu pretium metus. Nam quis ligula quis libero vehicula tempor vel nec nunc. Vivamus blandit tristique gravida.”</p>
                </div>
                <a href="{{path('store')}}" class="w-52 btn btn-purple">CHECK OUR STORE ></a>
            </div>
            <div class="lg:grid-cols-3 md:grid-cols-2 grid grid-cols-1 gap-5">
                {% for recentProduct in recentProducts %}
                    {% include "partials/_cardProduct.html.twig" with {'product': recentProduct}%}
                {% endfor %}
            </div>
        </div>
    </div>

<div class="container">
    {% if app.user %}
        {% if existingReview %}
            <p>You have already reviewed this product.</p>
        {% elseif productBought %}
            {{ form_start(reviewForm) }}
                {{ form_widget(reviewForm) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(reviewForm) }}
        {% else %}
            <p>You need to buy this product before you can review it.</p>
        {% endif %}
    {% else %}
        <p>Please log in to review this product.</p>
    {% endif %}
</div>


<div class="container">
    {% if reviews|length > 0 %}
        <strong>{{averageRating}}</strong><br>
        {% for review in reviews %}
            <strong>{{review.author.pseudo}}</strong>
           {% include "partials/_rating.html.twig" with {'rating': review.rating} %}
            <p>{{review.content}}</p>
        {% endfor %}
    {% else %}
        No reviews... yet.
    {% endif %}
</div>





{% endblock %}

{% block javascripts %}
    <script>
        document.querySelectorAll('.select-size').forEach(label => {
            label.addEventListener('click', function() {
                document.querySelectorAll('.select-size').forEach(el => {
                    el.classList.remove('bg-secondary');
                });

                this.classList.toggle('bg-secondary');
            });
        });


        const quantityInput = document.querySelector('[id$="quantity"]');
        const minusButton = quantityInput.parentNode.querySelector('button:first-child');
        const plusButton = quantityInput.parentNode.querySelector('button:last-child');


        minusButton.addEventListener('click', () => {
            let currentValue = parseInt(quantityInput.value) || 0;
            if (currentValue > 0) {
                quantityInput.value = currentValue - 1;
            }
        });

        plusButton.addEventListener('click', () => {
            let currentValue = parseInt(quantityInput.value) || 0;
            quantityInput.value = currentValue + 1;
        });

        document.addEventListener('DOMContentLoaded', function () {
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 1,
                spaceBetween: 10,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        });
    </script>
{% endblock %}