{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
            {% if product.productImages is not empty %}
                <div class="row mb-4 g-3">
                    {% for productImage in product.productImages %}
                        <div class="col-md-4">
                            <div class="card shadow-sm h-100">
                                <img src="{{ asset('uploads/' ~ productImage.filename) }}" class="card-img-top" alt="Image">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-12">
            <h4 class="display-4 mb-3">{{ product.name }}</h4>
            <p class="text-muted mb-4">{{ product.reference }}</p>
            {% for category in categories %}
                {{ category.name }}
            {% endfor %}
            <h3 class="text-success mb-4">${{ product.price }}</h3>
            <p class="mb-4">{{ product.description }}</p>
            {% if product.color %}
                <div class="d-flex align-items-center mb-4">
                    <div class="color-swatch" style="width: 30px; height: 30px; background-color: {{ product.color.hexCode }}; border-radius: 50%;"></div>
                    <p class="ms-3 mb-0">{{ product.color.name }}</p>
                </div>
            {% else %}
                <p class="text-muted">No color available</p>
            {% endif %}

            {% if product.productVariants|length > 0 %}
                <div class="mt-4">
                    <h5>Select Size:</h5>
                    {{ form_start(myForm) }}
                        {{ form_widget(myForm.productVariant) }}
                        <div class="mt-3">
                            {{ form_row(myForm.quantity, { 'attr': {'class': 'form-control d-inline w-auto'} }) }}
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            {% if app.user %}
                                <button type="submit" class="btn btn-primary me-3">Add to Cart</button>
                            {% else %}
                                <a href="{{ path('account_login') }}" class="btn btn-primary me-3">Add to Cart</a>
                            {% endif %}
                        </div>
                    {{ form_end(myForm) }}
                </div>
            {% else %}
                <p class="text-muted">No sizes available</p>
            {% endif %}

            <div class="d-flex align-items-center mt-3">
                <a href="{{ path('store') }}" class="btn btn-outline-secondary">Back to Products</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if app.user %}
        {% if existingReview %}
            <p>You have already reviewed this product.</p>
        {% elseif productBought %}
            {{ form_start(reviewForm) }}
                {{ form_widget(reviewForm) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(reviewForm) }}
        {% else %}
            <p>You need to buy this product before you can review it.</p>
        {% endif %}
    {% else %}
        <p>Please log in to review this product.</p>
    {% endif %}
</div>


<div class="container">
    {% if reviews|length > 0 %}
        <strong>{{averageRating}}</strong><br>
        {% for review in reviews %}
            <strong>{{review.author.pseudo}}</strong>
           {% include "partials/_rating.html.twig" with {'rating': review.rating} %}
            <p>{{review.content}}</p>
        {% endfor %}
    {% else %}
        No reviews... yet.
    {% endif %}
</div>




<div class="container">
    <div class="row">
        {% for recentProduct in recentProducts %}
            {% include "partials/_cardProduct.html.twig" with {'product': recentProduct}%}
        {% endfor %}
    </div>
</div>



{% endblock %}
