{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pending Reports</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Reason</th>
                <th>Reported By</th>
                <th>Reported At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
                <tr>
                    <td>{{ report.id }}</td>
                    <td>{{ report.type }}</td>
                    <td>{{ report.reason }}</td>
                    <td>{{ report.reportedBy.pseudo }}</td>
                    <td>{{ report.reportedAt|date('Y-m-d H:i') }}</td>
                    <td>
                        <a href="{{ path('report_show', { id: report.id }) }}" class="btn btn-info">Show</a>
                        <a href="{{ path('report_validate', { id: report.id }) }}" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path('report_reject', { id: report.id }) }}" class="btn btn-warning">Garder</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
