{% extends 'base.html.twig' %}

{% block title %}Report Details{% endblock %}

{% block body %}
<h1>Report Details</h1>

<ul>
    <li><strong>Type:</strong> {{ report.type }}</li>
    <li><strong>Reported By:</strong> {{ report.reportedBy.pseudo }}</li>
    <li><strong>Reported At:</strong> {{ report.reportedAt|date('Y-m-d H:i') }}</li>
    <li><strong>Reason:</strong> {{ report.reason }}</li>
    <li><strong>Details:</strong> {{ report.details }}</li>
    {% if report.type == 'post' %}
        <li><strong>Reported Post:</strong> {{ report.reportedPost.title }}</li>
    {% elseif report.type == 'comment' %}
        <li><strong>Reported Comment:</strong> {{ report.reportedComment.content }}</li>
    {% elseif report.type == 'user' %}
        <li><strong>Reported User:</strong> {{ report.reportedUser.pseudo }}</li>
    {% endif %}
</ul>

<a href="{{ path('report_validate', { id: report.id }) }}" class="btn btn-danger">Supprimer</a>
<a href="{{ path('report_reject', { id: report.id }) }}" class="btn btn-warning">Garder</a>

<a href="{{ path('reports_index') }}">Back to list</a>
{% endblock %}
