{% extends 'layouts/notifications_layout.html.twig' %}

{% set title = 'Notifications' %}
{% set markAsReadPath = path('mark_notifications_read') %}

{% block notification_content %}
    {% if notification.type == "like" %}
        <strong>{{ notification.user.pseudo }}</strong> a aimé 
        <a href="{{ path('post_show', {'slug': notification.post.slug}) }}">
            {{ notification.post.title }}
        </a>
    {% elseif notification.type == "likeComment" %}
        <strong>{{ notification.user.pseudo }}</strong> a aimé votre commentaire <br> 
        <small>{{notification.comment.content}}</small><br>
        <a href="{{ path('post_show', {'slug': notification.post.slug}) }}">
            {{ notification.post.title }}
        </a>
    {% elseif notification.type == "comment" %}
        <strong>{{ notification.user.pseudo }}</strong> a commenté <br> 
        <small>{{notification.comment.content}}</small><br>
        <a href="{{ path('post_show', {'slug': notification.post.slug}) }}">
            {{ notification.post.title }}
        </a>
    {% elseif notification.type == "reply" %}
        <strong>{{ notification.user.pseudo }}</strong> a répondu à votre commentaire: <br> 
        <small>{{notification.comment.content}}</small><br>
        <a href="{{ path('post_show', {'slug': notification.post.slug}) }}">
            {{ notification.post.title }}
        </a>
    {% elseif notification.type == "request" %}
        <strong>{{ notification.user.pseudo }}</strong> a accepté votre demande de suivi. <br>
        <a href="{{ path('profile_show', {'slug': notification.user.slug}) }}">
            Voir profil
        </a>
    {% elseif notification.type == "follow" %}
        <strong>{{ notification.user.pseudo }}</strong> vous suit
    {% endif %}
{% endblock %}

{% block pagination %}
    {% include "partials/_pagination.html.twig" with {
        'route': 'notifications_index',
        'parameters': {},
        'page': currentPage,
        'pages': totalPages
    } %}
{% endblock %}