{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% form_theme myForm _self %}

{% block body %}
	{# ------------------------------SLIDE 1 - HOME------------------------------ #}
	<div class="slide flex lg:items-center items-start bg-background lg:pt-20 pt-0">
		<div class="h-40 bg-tertiary-dark p-4 rounded-e-xl fixed lg:block hidden z-50">
			<div class="w-full flex flex-col gap-4">
				<div class="text-background hover:text-tertiary-light transition-all duration-300 text-lg">
					<i class="fab fa-facebook"></i>
				</div>
				<div class="text-background hover:text-tertiary-light transition-all duration-300 text-lg">
					<i class="fa-brands fa-x-twitter"></i>
				</div>
				<div class="text-background hover:text-tertiary-light transition-all duration-300 text-lg">
					<i class="fa-brands fa-instagram"></i>
				</div>
				<div class="text-background hover:text-tertiary-light transition-all duration-300 text-lg">
					<i class="fa-brands fa-tiktok"></i>
				</div>
			</div>
		</div>
		<div class="container relative" id="homepage-hero">
			<div class="lg:w-2/5 md:w-3/4 w-full absolute bottom-0 right-0 md:pl-6 lg:pt-6 md:pt-10 pt-4 rounded-xl bg-background flex flex-col md:items-end items-center">
				<h1 class="title lg:text-7xl text-4xl mb-5 text-tertiary-dark">CUTESTORM</h1>
				<p class="mb-5 text-end">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam amet, tempore magnam incidunt doloremque! Maxime, nemo alias accusamus autem voluptate doloribus accusantium rem voluptas iste distinctio temporibus recusandae!</p>
				<a href="{{path('store')}}" class="w-52 btn btn-purple">CHECK OUR STORE ></a>
			</div>
		</div>
	</div>

	{# ------------------------------SLIDE 2 - CONCEPT------------------------------ #}
	<div class="slide bg-background" id="concept-slide">
		<div class="container flex flex-row flex-wrap justify-between items-center lg:gap-0 gap-20">
			<div class="lg:w-2/5 w-full" data-aos="fade-right" data-aos-duration="1000">
				<h2 class="title text-primary-dark">Our concept</h2>
				<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper ultricies fermentum. Sed vitae sollicitudin ipsum, eu pretium metus. Nam quis ligula quis libero vehicula.</p>
				<a href="{{path('store')}}" class="w-52 btn btn-purple mb-12 lg:ml-auto">
					CHECK OUR STORE >
				</a>
				<div class="md:w-5/6 w-full md:ml-auto border-tertiary-dark shadow rounded-xl">
					<div class="bg-primary-dark border-2 border-b-0 border-tertiary-dark p-4 rounded-t-xl flex justify-between items-center">
						<div class="flex flex-col gap-2">
							<span class="block w-8 h-0.5 bg-tertiary-dark"></span>
							<span class="block w-8 h-0.5 bg-tertiary-dark"></span>
							<span class="block w-8 h-0.5 bg-tertiary-dark"></span>
						</div>
                        <div class="flex gap-2">
                            <span class="w-3 h-3 bg-danger border-2 border-tertiary-dark rounded-full"></span>
                            <span class="w-3 h-3 bg-secondary border-2 border-tertiary-dark rounded-full"></span>
                            <span class="w-3 h-3 bg-highlight border-2 border-tertiary-dark rounded-full"></span>
                        </div>
					</div>
					<div class="bg-white border-2 border-tertiary-dark p-6 py-8 rounded-b-xl">
						<div class="flex flex-col gap-10">
							<div class="flex gap-8 items-center justify-center">
                                <div class="w-20 relative">
                                    <div class="logo-eyes normal-eyes transform scale-x-[-1] absolute -top-1.5 left-1/2 -translate-x-1/2 z-10"></div>
                                    <div class="w-20 h-20 bg-danger border-2 border-tertiary-dark rounded-full relative flex justify-center items-center">
                                        <p class="text-5xl font-gliker text-background">1</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="subtitle">Buy it !</p>
                                    <p>Get brand new clothes in our store or grab whatever piece of clothing sitting in your closet.</p>
                                </div>
                            </div>
							<div class="flex gap-8 items-center justify-center">
                                <div class="w-20 relative">
                                    <div class="logo-eyes normal-eyes transform scale-x-[-1] absolute -top-1.5 left-1/2 -translate-x-1/2 z-10"></div>
                                    <div class="w-20 h-20 bg-secondary border-2 border-tertiary-dark rounded-full relative flex justify-center items-center">
                                        <p class="text-5xl font-gliker text-background">2</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="subtitle">Sketch it !</p>
                                    <p>Start drawing whatever is on your mind, be creative and confident about your art.</p>
                                </div>
                            </div>
							<div class="flex gap-8 items-center justify-center">
                                <div class="w-20 relative">
                                    <div class="logo-eyes normal-eyes transform scale-x-[-1] absolute -top-1.5 left-1/2 -translate-x-1/2 z-10"></div>
                                    <div class="w-20 h-20 bg-highlight border-2 border-tertiary-dark rounded-full relative flex justify-center items-center">
                                        <p class="text-5xl font-gliker text-background">3</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="subtitle">Share it !</p>
                                    <p>Post a picture of your creation on our social media and meet new creators.</p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<div class="lg:w-[55%] w-full linear-background md:h-full h-[40vh] flex justify-center items-center" data-aos="fade-left" data-aos-duration="1000">
                <div class="w-full h-full lg:mt-40 mt-0" id="concept-img"></div>
            </div>
		</div>
	</div>

	{# ------------------------------SLIDE 3 - REVIEWS------------------------------ #}
    <div class="w-full flex flex-col justify-center bg-background" id="reviews-slide">
        <div class="container ">
            <h2 class="title text-background lg:pt-4">Reviews</h2>
            <div class="swiper-container lg:w-7/12 w-full relative">
                <div class="swiper-wrapper">
                    {% for review in reviews %}
                        <div class="swiper-slide w-full rounded-xl flex flex-col">
                            <div class="border-tertiary-dark rounded-xl shadow swiper-width">
                                <div class="w-full bg-tertiary border-2 border-b-0 border-tertiary-dark p-4 rounded-t-xl flex justify-between items-center">
                                    <div class="flex flex-col gap-2">
                                        <span class="block w-8 h-0.5 bg-tertiary-dark"></span>
                                        <span class="block w-8 h-0.5 bg-tertiary-dark"></span>
                                        <span class="block w-8 h-0.5 bg-tertiary-dark"></span>
                                    </div>
                                    <div class="flex gap-2">
                                        <span class="w-3 h-3 bg-danger border-2 border-tertiary-dark rounded-full"></span>
                                        <span class="w-3 h-3 bg-secondary border-2 border-tertiary-dark rounded-full"></span>
                                        <span class="w-3 h-3 bg-highlight border-2 border-tertiary-dark rounded-full"></span>
                                    </div>
                                </div>
                                <div class="w-full bg-white border-2 border-tertiary-dark p-6 py-8 rounded-b-xl">
                                    <div class="flex md:flex-row flex-col md:gap-8 gap-2">
                                        <div class="w-20 relative ">
                                            <div class="logo-eyes normal-eyes transform scale-x-[-1] absolute -top-1.5 left-1/2 -translate-x-1/2 z-10"></div>
                                                <img src="/uploads/{{ review.author.avatar }}" alt="avatar of {{ review.author.pseudo}}" class="w-20 h-20 border-2 border-tertiary-dark rounded-full relative"></img>
                                            </div>
                                        <div class="lg:w-5/6 w-full">
                                            <div class="flex flex-row flex-wrap justify-between">
                                                <p class="text-lg"><span class="subtitle">{{review.author.pseudo}}</span> - User since {{ review.author.timestamp|date('Y') }}</p>
                                                {% include "partials/_rating.html.twig" with {'rating': review.rating} %}
                                            </div>
                                            <p>"{{review.content}}"</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

	{# ------------------------------SLIDE 4 - ABOUT------------------------------ #}
    <div class="slide bg-background md:h-full h-[160vh]">
        <div class="container flex items-center lg:flex-row flex-col-reverse gap-10">
            <div class="lg:w-1/2 w-full linear-background flex flex-col h-full justify-between" data-aos="fade-right" data-aos-duration="1000">
                <div class="container flex flex-col items-center">
                    {% include 'partials/_teamMember.html.twig' with { team: team1[0] } %}
                </div>
                <div class="container rank" id="rank1"></div>
                <div class="container flex justify-between">
                    {% for team in teams2 %}
                        <div class="flex flex-col items-center">
                            {% include 'partials/_teamMember.html.twig' with { team: team } %}
                        </div>
                    {% endfor %}
                </div>
                <div class="container py-8 rank" id="rank2"></div>
                <div class="container flex justify-between">
                    {% for team in teams3 %}
                        <div class="flex flex-col items-center">
                            {% include 'partials/_teamMember.html.twig' with { team: team } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="lg:w-1/2 w-full flex flex-col justify-between" data-aos="fade-left" data-aos-duration="1000">
                <div>
                    <h2 class="title text-primary-dark">About us</h2>
                    <p class="mb-4"><span class="font-bold">Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit. Aenean semper ultricies fermentum. Sed vitae sollicitudin ipsum, eu pretium metus. Nam quis ligula quis libero vehicula tempor vel nec nunc. <span class="font-bold">Vivamus blandit tristique gravida</span>.Curabitur egestas pellentesque efficitur.</p>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="font-bold">Aenean semper ultricies fermentum.</span> Sed vitae sollicitudin ipsum, eu pretium metus. Nam quis ligula quis <span class="font-bold">libero vehicula tempor vel nec nunc</span>. Vivamus blandit tristique gravida. Curabitur egestas pellentesque efficitur.</p>
                    <a href="{{path('store')}}" class="w-52 btn btn-purple ml-auto">Join us ></a>
                </div>
                {# <div class="relative">
                    <img src="/images/paper-plane.svg" alt="paper plane" class="w-full h-48 bg-cover bg-no-repeat absolute"></img>
                </div> #}
                <div class="md:w-5/6 w-full lg:ml-auto mx-auto flex lg:flex-col md:flex-row flex-col lg:justify-center justify-between gap-6 lg:py-0 py-10">
                    <div class="flex flex-col gap-6">
                        <div class="lg:w-full w-1/2 flex items-center gap-4">
                            <div class="w-10 relative">
                                <div class="logo-eyes miniature-eyes transform scale-x-[-1] absolute -top-1.5 left-1/2 -translate-x-1/2 z-10"></div>
                                <div class="w-10 h-10 bg-secondary border-2 border-tertiary-dark rounded-full relative flex justify-center items-center">
                                    <p class="text-xl text-tertiary-dark"><i class="fa-brands fa-facebook"></i></p>
                                </div>
                            </div>
                            <p class="subtitle">@cutestorm_store</p>
                        </div>
                        <div class="lg:w-full w-1/2 flex items-center gap-4">
                            <div class="w-10 relative">
                                <div class="logo-eyes miniature-eyes transform scale-x-[-1] absolute -top-1.5 left-1/2 -translate-x-1/2 z-10"></div>
                                <div class="w-10 h-10 bg-secondary border-2 border-tertiary-dark rounded-full relative flex justify-center items-center">
                                    <p class="text-xl text-tertiary-dark"><i class="fa-brands fa-x-twitter"></i></p>
                                </div>
                            </div>
                            <p class="subtitle">@cutestorm_store</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-6">
                        <div class="flex items-center gap-4">
                            <div class="w-10 relative">
                                <div class="logo-eyes miniature-eyes transform scale-x-[-1] absolute -top-1.5 left-1/2 -translate-x-1/2 z-10"></div>
                                <div class="w-10 h-10 bg-secondary border-2 border-tertiary-dark rounded-full relative flex justify-center items-center">
                                    <p class="text-xl text-tertiary-dark"><i class="fa-brands fa-instagram"></i></p>
                                </div>
                            </div>
                            <p class="subtitle">@cutestorm_store</p>
                        </div>
                        <div class="flex items-center gap-4">
                            <div class="w-10 relative">
                                <div class="logo-eyes miniature-eyes transform scale-x-[-1] absolute -top-1.5 left-1/2 -translate-x-1/2 z-10"></div>
                                <div class="w-10 h-10 bg-secondary border-2 border-tertiary-dark rounded-full relative flex justify-center items-center">
                                    <p class="text-xl text-tertiary-dark"><i class="fa-brands fa-tiktok"></i></p>
                                </div>
                            </div>
                            <p class="subtitle">@cutestorm_store</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# ------------------------------SLIDE 5 - STORE & COMMUNITY------------------------------ #}
    <div class="w-full flex flex-row flex-wrap h-screen">
        <div class="lg:w-1/2 w-full group relative overflow-hidden lg:h-full h-1/2">
            <div class="absolute inset-0 bg-cover bg-center bg-no-repeat transition-transform duration-500 group-hover:scale-110" id="slide-store"></div>
            <div class="relative z-10 container lg:py-20 py-12 md:px-10 px-0 flex flex-col md:justify-end justify-center md:items-start items-center h-full">
                <h2 class="title text-background">STORE</h2>
                <i class="fa-solid fa-arrow-left text-background text-3xl mb-3"></i>
                <p class="text-background font-bold md:text-left text-center mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper ultricies fermentum. Sed vitae sollicitudin ipsum, eu pretium metus. Nam quis ligula quis libero vehicula tempor.</p>
                <a href="{{path('store')}}" class="w-52 btn btn-white">< CHECK OUR STORE</a>
            </div>
        </div>
        <div class="lg:w-1/2 w-full group relative overflow-hidden lg:h-full h-1/2">
            <div class="absolute inset-0 bg-cover bg-center bg-no-repeat transition-transform duration-500 group-hover:scale-110" id="slide-community"></div>
            <div class="relative z-10 container lg:py-20 py-12 md:px-10 px-0 flex flex-col md:justify-end justify-center md:items-end items-center h-full">
                <h2 class="title text-background">COMMUNITY</h2>
                <i class="fa-solid fa-arrow-right text-background text-3xl mb-3"></i>
                <p class="text-background font-bold md:text-end text-center mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper ultricies fermentum. Sed vitae sollicitudin ipsum, eu pretium metus. Nam quis ligula quis libero vehicula tempor.</p>
                <a href="{{path('store')}}" class="w-52 btn btn-white">JOIN US ></a>
            </div>
        </div>
    </div>

    {# ------------------------------SLIDE 7 - COMMUNITY------------------------------ #}
    <div class="slide bg-background" id="fade-anim">
        <div class="container flex flex-col items-center">
            <div class="lg:w-1/2 w-full" data-aos="fade-up" data-aos-duration="1200">
                <h2 class="text-center title text-primary-dark">JOIN OUR OWN SOCIAL MEDIA</h2>
                <p class="text-center mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur incidunt non illo rerum earum molestiae, qui labore ipsum quia excepturi laborum? Modi natus quod temporibus qui sit laboriosam cum enim voluptatem nulla explicabo error deserunt adipisci suscipit eius fugit alias!</p>
                <div class="flex justify-center gap-10">
                    <a href="{{path('account_login')}}" class="w-44 btn btn-yellow">LOGIN ></a>
                    <a href="{{path('account_register')}}" class="w-44 btn btn-purple">REGISTER ></a>
                </div>
            </div>
            <div class="w-full flex lg:flex-row flex-col gap-10 mt-20 lg:mb-0 mb-12">
                <div class="lg:w-1/3 w-full bg-white shadow border-2 border-tertiary-dark rounded-xl p-5 card">
                    <div class="w-full h-52 bg-danger border-2 border-tertiary-dark rounded-xl mb-3 flex justify-center items-center">
                        <i class="fa-solid fa-camera-retro text-9xl text-danger-light"></i>
                    </div>
                    <h3 class="subtitle mb-2">Express yourself freely</h3>
                    <p class="ml-3 mb-2">
                        <i class="fa-solid fa-check text-danger mr-3"></i>
                        Showcase up to 5 photos by creation
                    </p>
                    <p class="ml-3 mb-2">
                        <i class="fa-solid fa-check text-danger mr-3"></i>
                        Edit your posts anytime, your way
                    </p>
                    <p class="ml-3 mb-2">
                        <i class="fa-solid fa-check text-danger mr-3"></i>
                        Post your top work for awards fame
                    </p>
                </div>
                <div class="lg:w-1/3 w-full bg-white shadow border-2 border-tertiary-dark rounded-xl p-5 card">
                    <div class="w-full h-52 bg-secondary border-2 border-tertiary-dark rounded-xl mb-3 flex justify-center items-center">
                        <i class="fa-regular fa-comments text-9xl text-secondary-dark"></i>
                    </div>
                    <h3 class="subtitle mb-2">Connect with like-minded creators</h3>
                    <p class="ml-3 mb-2">
                        <i class="fa-solid fa-check text-secondary mr-3"></i>
                        Like and save your favorite creations
                    </p>
                    <p class="ml-3 mb-2">
                        <i class="fa-solid fa-check text-secondary mr-3"></i>
                        Leave a comment to support other creators
                    </p>
                    <p class="ml-3 mb-2">
                        <i class="fa-solid fa-check text-secondary mr-3"></i>
                        Send a message, start a connection
                    </p>
                </div>
                <div class="lg:w-1/3 w-full bg-white shadow border-2 border-tertiary-dark rounded-xl p-5 card">
                    <div class="w-full h-52 bg-highlight border-2 border-tertiary-dark rounded-xl mb-3 flex justify-center items-center">
                        <i class="fa-solid fa-lock text-9xl text-highlight-dark"></i>
                    </div>
                    <h3 class="subtitle mb-2">Your privacy, our priority</h3>
                    <p class="ml-3 mb-2">
                        <i class="fa-solid fa-check text-highlight mr-3"></i>
                        Only connect with those you trust
                    </p>
                    <p class="ml-3 mb-2">
                        <i class="fa-solid fa-check text-highlight mr-3"></i>
                        Mute comments, stay distraction-free
                    </p>
                    <p class="ml-3 mb-2">
                        <i class="fa-solid fa-check text-highlight mr-3"></i>
                        Stay in control with a private profile
                    </p>
                </div>
            </div>
        </div>
    </div>

    {# ------------------------------SLIDE 6 - CONTACT------------------------------ #}
    <div class="w-full lg:h-screen md:h-[120vh] flex lg:flex-row flex-col-reverse" id="contact-slide">
        <div class="lg:w-1/2 w-full md:h-full h-[50vh] bg-primary-dark flex flex-col justify-center items-center relative">
            <div id="keep-in-touch">
                {% for i in 1..7 %}
                    <p class="font-gliker text-primary -m-2 lg:text-8xl md:text-7xl text-6xl text-center opacity-0 transition-opacity duration-300 ease-in-out">KEEP IN TOUCH</p>
                {% endfor %}
            </div>
            <img src="/images/contact.png" alt="contact form" class="absolute bottom-0 right-2 w-2/3 bg-cover bg-no-repeat bg-center -z-1"></img>
        </div>
        <div class="lg:w-1/2 w-full h-full bg-background relative lg:pb-0 pb-20">
            <div class="linear-background container py-10">
                <div class="container">
                    <img src="/images/paper-plane.svg" alt="paper plane" class="absolute top-20 right-2 w-2/3 bg-cover bg-no-repeat bg-center"></img>
                    <h2 class="title text-primary-dark text-end">Contact us</h2>
                    <div class="mt-20">
                    	{{form_start(myForm)}}

                        {{form_widget(myForm)}}
                        <button type="submit" class="btn btn-yellow mt-3 ml-auto w-52">Submit</button>

                        {{form_end(myForm)}}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block form_row %}
    <div class="w-full">
        <div class="flex md:flex-row flex-col justify-between mb-8">
            <div class="font-bold text-tertiary-dark">
                {{form_label(form)}}
            </div>
            <div class="md:w-2/3 w-full">
                {{ form_widget(form, {'attr': {'class': 'w-full p-3 border-2 border-tertiary-dark rounded-2xl shadow focus:outline-none'}}) }}
                {{form_errors(form)}}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('flipCard') }}
    {{ encore_entry_script_tags('fadeAnim') }}
    {{ encore_entry_script_tags('keepInTouch') }}
    <script>
        {# review slider #}
        document.addEventListener('DOMContentLoaded', function () {
            AOS.init();

            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 1,
                spaceBetween: 10,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                autoplay: {
                    delay: 5000,
                },
            });
        });
    </script>
{% endblock %}

