
{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="bg-background">
    <div class="container pt-20">
        <h1>Hello</h1>
        <div class="container">
        {% for team in teams %}
            <strong>{{team.name}}</strong>
            <p>{{team.fonction}}</p>
            {% if team.instagram %}
                <p>{{team.instagram}}</p>
            {% elseif team.linkedin %}
                <p>{{team.linkedin}}</p>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="container">

        <h1>Contactez-nous</strong></h1>

        {{form_start(myForm)}}

            {{form_widget(myForm)}}
            <button type="submit" class="btn btn-primary mt-3">Envoyer</button>

        {{form_end(myForm)}}
    </div>
</div>




{% endblock %}