{% extends 'layouts/account_layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% set currentTab = 'resume_activities' %}

{% block content %}
    {% include "partials/_accountHeader.html.twig" with {
        title: 'Dashboard',
        content: 'Curabitur accumsan sed risus vel faucibus. Vivamus init dignissim elit elit, et sollicitudin augue.',
        showButton: true,
        firstPath: path('profile_posts'),
        firstLink: 'My posts',
        secondPath: path('orders_index'),
        secondLink: 'My orders',
        type: 'user'
    } %}
    <div class="mt-8 space-y-12">
        <div>
            <div class="w-full flex justify-between items-center mb-4">
                <p class="subtitle">Likes</p>
                <a href="{{path('resume_likes')}}" class="text-tertiary-dark underline">See all ></a>
            </div>
            <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
                {% if posts|length > 0 %}
                    {% for post in posts %}
                        {% include "partials/_cardPostMin.html.twig" %}
                    {% endfor %}
                {% else %}
                    <p class="text-tertiary-dark">No posts liked... yet !</p>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="w-full flex justify-between items-center mb-4">
                <p class="subtitle">Followers</p>
                <a href="{{path('resume_followers')}}" class="text-tertiary-dark underline">See all ></a>
            </div>
            <div class="w-full flex items-center gap-2">
                {% if followers|length > 0 %}
                    {% for follower in followers %}
                        <a href="{{ path('profile_show', {'slug': follower.slug}) }}">
                            {% if follower.avatar %}
                                <img src="{{ asset('uploads/' ~ follower.avatar) }}" alt="avatar of {{follower.pseudo}}" class="w-12 h-12 object-cover rounded-full border-2 border-tertiary-dark">
                            {% else %}
                                <div class="w-12 h-12 rounded-full bg-secondary border-2 border-tertiary-dark"></div>
                            {% endif %}
                        </a>
                    {% endfor %}
                {% else %}
                    <p class="text-tertiary-dark">No user followed... yet !</p>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="w-full flex justify-between items-center mb-4">
                <p class="subtitle">Notifications</p>
                <a href="{{path('notifications_index')}}" class="text-tertiary-dark underline">See all ></a>
            </div>
            <div class="space-y-5">
                {% if notifications|length > 0 %}
                    {% for notification in notifications %}
                        {% if notification.type == "like" %}
                            {% include "partials/_listItem.html.twig" with {
                                type: 'notification',
                                category: 'like',
                                content: notification.post.description
                            } %}
                        {% elseif notification.type == "likeComment" %}
                            {% include "partials/_listItem.html.twig" with {
                                type: 'notification',
                                category: 'likeComment',
                                content: notification.comment.content
                            } %}
                        {% elseif notification.type == "comment" %}
                            {% include "partials/_listItem.html.twig" with {
                                type: 'notification',
                                category: 'comment',
                                content: notification.comment.content
                            } %}
                        {% elseif notification.type == "reply" %}
                            {% include "partials/_listItem.html.twig" with {
                                type: 'notification',
                                category: 'reply',
                                content: notification.comment.content
                            } %}
                        {% elseif notification.type == "request" %}
                            {% include "partials/_listItem.html.twig" with {
                                type: 'notification',
                                category: 'request',
                                content: notification.user.bio
                            } %}
                        {% elseif notification.type == "follow" %}
                            {% include "partials/_listItem.html.twig" with {
                                type: 'notification',
                                category: 'follow',
                                content: notification.user.bio
                            } %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="text-tertiary-dark">No notifications... yet !</p>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="w-full flex justify-between items-center mb-4">
                <p class="subtitle">Followings</p>
                <a href="{{path('resume_followings')}}" class="text-tertiary-dark underline">See all ></a>
            </div>
            <div class="w-full flex items-center gap-2">
                {% if followings|length > 0 %}
                    {% for following in followings %}
                        <a href="{{ path('profile_show', {'slug': following.slug}) }}">
                            {% if following.avatar %}
                                <img src="{{ asset('uploads/' ~ following.avatar) }}" alt="avatar of {{following.pseudo}}" class="w-12 h-12 object-cover rounded-full border-2 border-tertiary-dark">
                            {% else %}
                                <div class="w-12 h-12 rounded-full bg-secondary border-2 border-tertiary-dark"></div>
                            {% endif %}
                        </a>
                    {% endfor %}
                {% else %}
                    <p class="text-tertiary-dark">No user followings... yet !</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
