{# {% extends 'base.html.twig' %}

{% block title %}My Orders{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">My Orders</h1>

    {% if orders is empty %}
        <div class="alert alert-warning" role="alert">
            You have no orders yet.
        </div>
    {% else %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Order Status</th>
                        <th scope="col">Order Reference</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Delivery</th>
                        <th scope="col">Date</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                {% if order.isPaid %}
                                    <span class="badge rounded-pill bg-success">Paid</span>
                                {% else %}
                                    <span class="badge rounded-pill bg-danger">Unpaid</span>
                                {% endif %}
                            </td>
                            <td>{{ order.reference }}</td>
                            <td>{{ order.totalPrice|number_format(2, ',', '.') }} $</td>
                            <td>{{ order.delivery.name }}</td>
                            <td>{{ order.timestamp|date('d/m/Y H:i') }}</td>
                            <td class="text-center">
                                <a href="{{ path('order_show', { reference: order.reference }) }}" class="btn btn-sm btn-info">
                                    View Details
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %} #}

{% extends 'layouts/account_layout.html.twig' %}

{% block title %}Orders{% endblock %}

{% set currentTab = 'orders_index' %}

{% block content %}
    <div class="flex justify-between items-center mb-4">
        <h2 class="title title-second text-tertiary-dark">Orders</h2>
        <a href="{{ path('cart_show') }}" class="text-tertiary-dark underline">View cart</a>
    </div>
    {% include "partials/_orderItem.html.twig" with {orders: orders} %}
    {% include "partials/_pagination.html.twig" with {
        'route': 'orders_index',
        'parameters': {},
        'page': currentPage,
        'pages': totalPages
    } %}
{% endblock %}