{% extends "base.html.twig" %}

{% block title %}Edit Stock{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container mt-4">
        <h1>Edit Stock for {{ variant.product.name }} - {{ variant.size }}</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary mt-3">Update Stock</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block form_row %}
    <div class="form-group mt-2">
        <div class="row">
            <div class="col-6">
                {{ form_label(form) }}
            </div>
            <div class="col-6">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}
