{% extends 'profile/conversations/base.html.twig' %}

{% block title %}Conversation{% endblock %}
{% block subtitle %}Conversation with {{otherUser.pseudo}}{% endblock %}

{% block message_content %}
    {% if messages is not empty %}
        {% for message in messages %}
            <div class="w-100 d-flex flex-column p-2">
                {% if message.sender == app.user %}
                    <div class="w-75 user-message bg-primary p-3 text-white rounded align-self-end position-relative">
                        <div class="mt-1">{{ message.content }}</div>
                        <small class="text-muted d-block mt-1">{{ message.timestamp|date('d/m/Y H:i') }}</small>
                    </div>
                {% else %}
                    <div class="w-75 not-user-message bg-light p-3 rounded align-self-start position-relative">
                        <div class="mt-1">{{ message.content }}</div>
                        <small class="text-muted d-block mt-1">{{ message.timestamp|date('d/m/Y H:i') }}</small>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Say hi to start the conversation!</p>
    {% endif %}
{% endblock %}

{% block partials_conv %}
    {% include 'partials/_conversation.html.twig' with {
        items: conversations,
    } %}
{% endblock %}


{% block form_content %}
        {{ form_start(myForm) }}
        <div class="d-flex align-items-center justify-content-between">
            <div class="input-group" style="width: 90%;">
                {{ form_widget(myForm.content, {'attr': {'class': 'form-control form-control-sm', 'style': 'padding: 10px;'}}) }}
            </div>
            <div>
                <button type="submit" class="btn btn-primary p-3">
                    <i class="fas fa-arrow-up"></i>
                </button>
            </div>
        </div>
        {{ form_end(myForm) }}
{% endblock %}
