{# {% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div class="container mt-4 ">
        <a href="{{path('mark_contact_read')}}" type="button" class="btn btn-secondary">Mark all as read</a>
        <div class="row">
            <h1 class="mb-3">Messagerie</h1>
            {% if contacts|length > 0 %}
                <table class="table table-striped">
                    <thead>
                        <tr class="table-active">
                            <th class="text-center">Status</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Mail</th>
                            <th class="text-center">Message</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    {% for contact in contacts %}
                        <tr>
                            <td class="align-middle">
                                {% if contact.IsRead == false %}
                                    <span class="badge rounded-pill bg-primary">!</span>
                                {% endif %}
                            </td>
                            <td class="align-middle">{{contact.name}}</td>
                            <td class="align-middle">{{contact.email}}</td>
                            <td class="align-middle">{{contact.message | raw | striptags | slice(0, 50)}}...</td>
                            <td class="align-middle text-center">
                                <a href="{{path('contact_show', {'id':contact.id})}}" type="button" class="btn btn-primary">Voir plus...</a>
                                <a href="#deleteModal{{ contact.id }}" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteModal{{ contact.id }}">Delete</a>
                                {% include 'partials/_deleteModal.html.twig' with {
                                    'modalId': 'deleteModal' ~ contact.id,
                                    'modalAction': path('contact_delete', {'id':contact.id})
                                    } 
                                %}
                            </td>
                        </tr>
                    {% endfor %}
                    </thead>
                </table>

            {% include "partials/_pagination.html.twig" with {
                'route': 'contact_index',
                'parameters': {},
                'page': currentPage,
                'pages': totalPages
            } %}
            {% else %}
                <p>No messages.</p>
            {% endif %}
        </div>
    </div>
{% endblock %} #}

{% extends 'layouts/account_layout.html.twig' %}

{% block title %}Contacts{% endblock %}

{% set currentTab = 'contact_index' %}

{% block content %}
    {% include "partials/_accountHeader.html.twig" with {
        title: 'Contact',
        content: 'Curabitur accumsan sed risus vel faucibus. Vivamus init dignissim elit elit, et sollicitudin augue.',
        showButton: false,
        secondPath: path('homepage'),
        secondLink: 'Back to home',
        type: 'admin'
    } %}
    <div class="flex justify-between items-center mt-8 mb-4">
        <h2 class="title title-second text-tertiary-dark">Contact</h2>
        <a href="{{path('mark_contact_read')}}" type="button" class="text-tertiary-dark underline">Mark all as read</a>
    </div>
    <div>
        {% if contacts|length > 0 %}
            <div class="w-full lg:overflow-visible overflow-x-auto overflow-y-visible">
                <table class="lg:w-full min-w-full lg:overflow-auto overflow-x-auto shadow rounded-xl border-b-2 border-tertiary-dark">
                    <thead class="w-full bg-tertiary border-2 border-tertiary-dark">
                        <tr class="font-bold text-background text-xs uppercase text-center">
                            <th class="p-4"></th>
                            <th class="p-4">Name</th>
                            <th class="p-4">Mail</th>
                            <th class="p-4">Message</th>
                            <th class="p-4">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-background border-x-2 border-tertiary-dark">
                        {% for contact in contacts %}
                            <tr class="divide-x divide-tertiary h-full">
                                <td class="p-4 whitespace-nowrap flex justify-center items-center h-full">
                                    <div class="w-3 h-3 border-2 border-tertiary-dark rounded-full {{ contact.IsRead == false ? 'bg-danger-dark' : 'bg-success' }}"></div>
                                </td>
                                <td class="p-4 whitespace-nowrap text-tertiary-dark font-bold text-sm">{{ contact.name }}</td>
                                <td class="p-4 whitespace-nowrap text-tertiary text-sm">{{ contact.email }}</td>
                                <td class="p-4 whitespace-nowrap text-tertiary text-sm">{{ contact.message | raw | striptags | slice(0, 10) }}...</td>
                                <td class="p-4 whitespace-nowrap text-center flex gap-2">
                                    <a href="{{ path('contact_show', {'id': contact.id}) }}" class="badge badge-highlight">
                                        <i class="fa-solid fa-eye text-background"></i>
                                    </a>
                                    {% include 'partials/_deleteModal.html.twig' with {
                                        'slug': contact.id,
                                        'modalAction': path('contact_delete', {'id': contact.id})
                                        } 
                                    %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

            {% include "partials/_pagination.html.twig" with {
                'route': 'contact_index',
                'parameters': {},
                'page': currentPage,
                'pages': totalPages
            } %}
        {% else %}
            <div class="w-full p-4 bg-background border-2 border-tertiary-dark rounded-xl text-tertiary-dark font-bold flex flex-row gap-2 items-center">
                <i class="fas fa-info-circle"></i>
                <p>You don't have any notification... yet !</p>
            </div>
        {% endif %}
    </div>

{% endblock %}