{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div class="container full">
        <a href="{{path('contact_index')}}" type="button" class="btn btn-secondary">Back</a>
        <h1>Message from {{contact.name}}</h1>
        <p>{{contact.message}}</p>
        <a href="mailto:{{contact.email}}" type="button" class="btn btn-primary">Répondre</a>
        <a href="#deleteModal{{ contact.id }}" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteModal{{ contact.id }}">Delete</a>
        {% include 'partials/_deleteModal.html.twig' with {
            'modalId': 'deleteModal' ~ contact.id,
            'modalAction': path('contact_delete', {'id':contact.id})
            } 
        %}
    </div>
{% endblock %}