{% extends 'layouts/account_layout.html.twig' %}

{% block title %}Contacts{% endblock %}

{% set currentTab = 'contact_index' %}

{% block content %}
    {% include "partials/_accountHeader.html.twig" with {
        title: 'Message',
        content: "Some users tried to reach you during your absence... Let's give them a helpful feedback ;)",
        showButton: false,
        secondPath: path('contact_index'),
        secondLink: 'Contacts',
        type: 'admin'
    } %}
    <h2 class="title title-second text-tertiary-dark mt-8 mb-4">From: {{contact.name}}</h2>
    <div class="w-full shadow rounded-xl">
        {% include "partials/_cardHeader.html.twig" with { backgroundClass: 'bg-tertiary' } %}
        <div class="w-full bg-white border-2 border-tertiary-dark p-6 py-8 rounded-b-xl">
            <div class="flex lg:flex-row flex-col md:gap-8 gap-2">
                <div class="w-20 h-20 rounded-full relative bg-secondary border-2 border-tertiary-dark">
                    <div class="logo-eyes normal-eyes transform scale-x-[-1] absolute -top-1.5 left-1/2 -translate-x-1/2 z-10"></div>
                        <i class="fa-solid fa-user text-secondary-dark text-4xl absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"></i>
                    </div>
                <div class="lg:w-5/6 w-full">
                    <div class="flex flex-row flex-wrap justify-between">
                        <p class="text-lg"><span class="subtitle">{{contact.email}}</span> - {{ contact.timestamp|date('d-m-Y, H:i') }}</p>
                    </div>
                    <p>"{{ contact.message|raw }}"</p>
                    <div class="w-full flex justify-end gap-2">
                        <a href="mailto:{{contact.email}}" type="button" class="badge badge-highlight">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        {% include 'partials/_deleteModal.html.twig' with {
                            'slug': contact.id,
                            'modalAction': path('contact_delete', {'id': contact.id})
                            } 
                        %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}